In [3]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [4]:
tweets_df = pd.read_csv("C:/Users/happy/OneDrive/Documents/dataset_hate.csv")

In [5]:
tweets_df = tweets_df.drop(['id'], axis=1)

In [6]:
tweets_df=tweets_df.drop(['Unnamed: 0'], axis=1)

In [7]:
tweets_df

       label                                              tweet
0          0   @user when a father is dysfunctional and is s...
1          0  @user @user thanks for #lyft credit i can't us...
2          0                                bihday your majesty
3          0  #model   i love u take with u all the time in ...
4          0             factsguide: society now    #motivation
...      ...                                                ...
31957      0  ate @user isz that youuu?ðððððð...
31958      0    to see nina turner on the airwaves trying to...
31959      0  listening to sad songs on a monday morning otw...
31960      1  @user #sikh #temple vandalised in in #calgary,...
31961      0                   thank you @user for you follow

[31962 rows x 2 columns]

In [9]:
tweets_df.isnull().sum()

label    0
tweet    0
dtype: int64

In [10]:
import string
string.punctuation

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\happy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
from nltk.corpus import stopwords

In [12]:
def message_cleaning(message):
    Test_punc_removed = [char for char in message if char not in string.punctuation]
    Test_punc_removed_join = ''.join(Test_punc_removed)
    Test_punc_removed_join_clean = [word for word in Test_punc_removed_join.split() if word.lower() not in stopwords.words('english')]
    return Test_punc_removed_join_clean

In [ ]:
tweets_df_clean = tweets_df['tweet'].apply(message_cleaning)