In [2]:
import sklearn
import numpy as np
import pandas as pd

In [3]:
tweets_df = pd.read_csv("C:/Users/happy/OneDrive/Documents/dataset_hate.csv")

In [7]:
tweets_df

,Unnamed: 0,id,label,tweet
0,0,1,0,@user when a father is dysfunctional and is s...
1,1,2,0,@user @user thanks for #lyft credit i can't us...
2,2,3,0,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation
...,...,...,...,...
31957,31957,31958,0,ate @user isz that youuu?ðððððð...
31958,31958,31959,0,to see nina turner on the airwaves trying to...
31959,31959,31960,0,listening to sad songs on a monday morning otw...
31960,31960,31961,1,"@user #sikh #temple vandalised in in #calgary,..."
31961,31961,31962,0,thank you @user for you follow

In [9]:
tweets_df.isnull().sum()

Unnamed: 0    0
id            0
label         0
tweet         0
dtype: int64

In [10]:
# remove special characters 
import re 

# set up punctuations to be replaced 
REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")

In [11]:
import preprocessor as p

In [12]:
def clean_tweets(df):
    tempArr = []
    for line in df: 
        tmpL = p.clean(line)
        tmpL = REPLACE_NO_SPACE.sub("", tmpL.lower()) #convert all tweets to lower case
        tmpL = REPLACE_WITH_SPACE.sub("", tmpL)
        tempArr.append(tmpL)
    return tempArr

In [13]:
# append cleaned tweets to data 
cleaned_tweets = clean_tweets(tweets_df["tweet"])
cleaned_tweets = pd.DataFrame(cleaned_tweets)

In [14]:
cleaned_tweets

                                                       0
0      when a father is dysfunctional and is so selfi...
1      thanks for credit i cant use cause they dont o...
2                                    bihday your majesty
3                i love u take with u all the time in ur
4                                 factsguide society now
...                                                  ...
31957                                 ate isz that youuu
31958  to see nina turner on the airwaves trying to w...
31959  listening to sad songs on a monday morning otw...
31960                     vandalised in in  condemns act
31961                           thank you for you follow

[31962 rows x 1 columns]

In [ ]:
# vectorize tweets using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer = clean_tweets)
tweets_countvectorizer = CountVectorizer(analyzer = clean_tweets, dtype = 'uint8').fit_transform(tweets_df['tweet']).toarray()

In [ ]:
from sklearn.model_selection import train_test_split
X=cleaned_tweets[0]
y=tweets_df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)